.chessboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
  height: 800px;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.dark-tile {
  background-color: #0099ff;
}
.light-tile {
  background-color: #00ccff;
}
button {
  cursor: pointer;
  border: none;
  color: black;
  display: inline-block;
  font-weight: 800;
  font-size: large;
}
button:hover {
  color: yellow;
}
button:active {
    color: yellow;
  }

